.left,
.right {
  width: 50vw;
  height: 100vh;
  float: left;
  text-align: center;
  box-sizing: border-box;
  color: white;
}
.left:hover, .right:hover{
    cursor: pointer;
    background-color: #1a1818;
}
h1{
    padding-top: 10vh;
}
.left {
  border-right: 2px solid white;
}
.right {
  border-left: 2px solid white;
}
